<html>

<head>
	<title>Sprinkler</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		#valve {
			height: 100%;
			font-size: 5em;
		}
	</style>
</head>
	<body>
		<div class="container" style="padding: 20px">
			<button id="valve" type="button" class="btn btn-primary btn-block"></button>
		</div>
	</body>
	<script>
		$(document).ready(function() {

			var getValveState = function() {
				return new Promise(resolve => {
					$.getJSON('isOpen', data => {
						resolve(data.isOpen)
					})
				})
			}

			var updateButtonText = function() {
				getValveState().then(isOpen => {
					if (isOpen) {
						$("#valve").text("Turn Off")
					} else {
						$("#valve").text("Turn On")
					}
				})
			}

			$("#valve").click(function() {
				console.log('clicked');
				getValveState().then(isOpen =>{
					let endpoint = isOpen ? "closeValve" : "openValve" 
					$.post(endpoint).always(()=>{
						updateButtonText()
					})	
				})
			});
		});
	</script>

</html>
